fastapi==0.115.6
uvicorn[standard]==0.32.1
supabase==2.10.0
pydantic==2.10.3
spacy==3.8.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
